
title {
    color: #999;
    text-decoration: bold;
    text-size: 100px;
}
body {
background: darkred;
font-family: "Arial, Helvetica, sans-serif";
line-height: 30px;
image-orientation: flip;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: firebrick;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    border:10px; 
    border-style: solid;
    color: black;
    background-color: transparent;
    text-decoration: underline;
    cursor: help;
       -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
a #piclink:hover {
    color: transparent; 
    background-color: transparent;
    cursor: help;
       -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;

}
h1 {
  background: white;
  text-align: center;
  text-transform: uppercase;
  margin: center;
}
.badlist {
  background: white;
  text-align: left;
  margin-left: 0%;
  margin-right: 50%;
}
.reasons {
  background: goldenrod;
  text-align: center;
   margin-left: 0%;
  margin-right: 50%;
}
.mainimg {
    width: 50%;

}
#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 30px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}
.hell {
   display: block;
    margin-left: auto;
    margin-right: auto
}
.otherpages{
  background: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
    margin-left: 0px;
  margin-right: 0px;

}
