/* Navigation bar */

.navbar-default {
    background-color: #220066;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
    background-color: #660080;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-brand:active {
    background-color: #660080;
    color: #ffffff;
}

.navbar-default .navbar-header .navbar-toggle .icon-bar {
    background-color: #ffffff;
}


/* Images and specific placement items*/


span {
  display: table-cell;
  vertical-align: middle;
}

.footer {
  margin-bottom: 0px;
}

/* Social Media images need to be smaller on mobile devices */

@media (max-width: 768px) {
.social-media {
  width: 35px;
  height: 35px;
}
}
.social-media-images {
    width: 100%;
    text-align: center;
}
.navbar-footer {
    margin: 2px auto;
    /*line-height: 1.4;*/
    padding-left: 0;
}
.navbar-footer li {
    display: inline-block;
    text-align: center;
}



/* Social Media images can be larger on desktop/laptop/large screen devices */

@media (min-width: 768px) {
.social-media {
  width: 35px;
  height: 35px;
}
}

.decor-image {
  width: 170px;
  height: 170px;
  margin-bottom: 10px;
}

.sponsor-logo {
    width: 200px;
    height: auto;
    margin-bottom: 50px;
}


.bg {
  background: url('../images/welcomeBackground5.jpg') no-repeat center center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 800px; /* must be the same height as the jumbotron-landing */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron-landing {
  height: 800px;
  width:100%;
  color: white;
  text-shadow: #444 0 5px 5px;
  text-align: center;
  background: transparent;

  display: table;
}

/* Tablets, laptops, etc have a large enough screen to see the line appropriately */
@media (min-width: 768px) {
.sexy_line{
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#660080), to(#fff));
    margin-bottom: 50px;
}

.sexy_line_2{
    display:block;
    border:none;
    color:white;
    height:1px;
    background:#660080;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#660080));
    margin-bottom: 50px;
}
}

/* Hide line and just put padding on the bottom for mobile devices */
@media (max-width: 768px) {
.sexy_line{
    display:block;
    border:none;
    margin-bottom: 50px;
}

.sexy_line_2{
    display:block;
    border:none;
    margin-bottom: 50px;
}
}

#about {
    background: white;
    color: #660080;
}

#meetings {
background: #660080;
}

#sponsors {
    background: white;
    color: #660080;
}

.stack {
    height: 550px;
    width:100%;
    color: white;
    text-align: center;
    background: transparent;
    display: table;
    margin-bottom: 0px;
}

.stack h2 {
      #text-shadow: #8c8c8c 0 5px 5px;
}

.text {
    vertical-align: top;
}

.stack-text {
    margin-bottom: 20px;
}


